{% from "_formhelpers.html" import render_field %}
{% extends "base/layout.html" %}
{% block head %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/MD5.js') }}"></script>
	    <script>
		 window.onload = function()
		 {
		 	var base = "http://www.gravatar.com/avatar/";
		 	var email = "{{ email }}";
		 	var hash = MD5(email);
		 	var fullUrl = base+hash+"?size="+150+"&r=x&d=identicon";
		 	document.getElementById("avatar").src=fullUrl;
		 }
		</script>

{% endblock %}
{% block content %}
		<div class="container">
		 	<div class="row">
		    	<div class="col-sm-2">
		    		<div class="row text-center"><img id="avatar" class="img-responsive-center"></div>
		    		{% if authoraize_user %}
		    		<div class="row"><br></div>
		    		<div class="row text-center"><a href='{{ url_for('UserController:settings', username=user) }}' class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Edit profile</a></div>
		    		{% endif %}
				</div>
		    	<div class="col-sm-8">
		    		<div class="row"><h1>{{ user }}</h1></div>
		    		<div class="row">
		    			<div class="col-sm-2"><strong>Name:</strong></div>
		    			<div class="col-sm-10">{{ name }}</div>
		    		</div>
		    		<div class="row"><br></div>
		    		<div class="row">
		    			<div class="col-sm-2"><strong>Description:</strong></div>
		    			<div class="col-sm-10">
		    			{%for description_line in description %}
		    				<p>{{ description_line }}</p>
		    			{% endfor %} 
		    			</div>
		    		</div>
		    		{% if show_email %}
		    		<div class="row"><br></div>
		    		<div class="row">
		    			<div class="col-sm-2"><strong>Email:</strong></div>
		    			<div class="col-sm-10">{{ email }}</div>
		    		</div>
		    		{% endif %}
		    	</div>
		  	</div>
		</div>
	<div class="container text-center">
		<ul class="list-group row">
			{% for url, endpoint, title, doc in links %}
				{% if authoraize_user %}
				<a href="{{ url }}"  class="list-group-item col-xs-11">
				{% else %}
				<a href="{{ url }}"  class="list-group-item col-xs-12">
				{% endif %}
					<h4 class="list-group-item-heading">{{ endpoint }}</h4>
					<p class="list-group-item-text">{{ doc }}</p>
				</a>
				{% if authoraize_user %}
				<div class="list-group-item button-item col-xs-1">
					<button onclick="$.ajax({ url:'{{ url_for('MachineController:delete_machine', machine_name=endpoint) }}', type: 'DELETE' });window.location = '/{{ user }}';" class="btn-lg btn-danger"><span class="glyphicon glyphicon glyphicon-trash"></span></button>
				</div>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	

{% endblock %}