{% extends "base/layout.html" %}
{% block content %}

<div class="container">
	  <form action="" method=post class="form-horizontal" id="settings">
	    <div class="col-sm-2"></div>
	    <div class="col-sm-10">
	    <a href='{{ url_for('UserController:user', username=user) }}'><h1>{{ user }}</h1></a>
	    
	    <div class="row">
	    	<div class="col-sm-2"><strong>User name </strong></div>
	    	<div class="col-sm-10"><input type="text" id="name" name="name" class="input-xlarge" value="{{ name }}" required></div>
	    </div>
	    <div class="row"><br></div>
	    <div class="row">
	    	<div class="col-sm-2"><strong>Show email</strong></div>
	    	<div class="col-sm-10"><input type="checkbox" id="show_email" name="show_email" class="input-xlarge" {% if show_email %} checked {% endif %}></div>
	    </div>
	    <div class="row"><br></div>
	 	<div class="row">
	    	<div class="col-sm-2"><strong>Description</strong></div>
	    	<div class="col-sm-10"><textarea rows="10" name="description" form="settings">{{ description }}</textarea></div>
	 	</div>
		<button type="submit" class="btn btn-primary">Update</button>
		</div>
	  </form>
</div>
{% endblock %}