{% extends "base/layout.html" %}
{% block content %}
    <div class="container text-center">
		<a href="{{ url_for('MachinehubController:machines', page=1) }}">
			<img src= {{ url_for('static', filename = 'img/machinehub_logo.png') }} class="img-responsive-center machinehub">
		</a>
        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2>Last Machines</h2>
            </div>
        </div>
        <!-- /.row -->
		<br><br>
        <!-- Page Features -->
        {%for machines_info in splited_machines_info %}
        <div class="row text-center">
        	{%for image, title, description, url in machines_info %}
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                	{% if image %}
                    <img src={{ image }} alt="">
                    {% else %}
                    <img src="http://epaper2.mid-day.com/images/no_image_thumb.gif" alt="">
                    {% endif %}
                    <div class="caption">
                        <h3>{{ title }}</h3>
                        <p>{{ description }}</p>
                        <p>
                            <a href="{{ url }}" class="btn btn-primary">Build it!</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
        <br>
        {% endfor %} 
    </div>
{% endblock %}