{% from "_formhelpers.html" import render_field %}
{% extends "base/layout.html" %}
{% block head %}
		<script type="text/javascript" src="{{ url_for('static', filename='js/Three.js') }}"></script>
    	<script type="text/javascript" src="{{ url_for('static', filename='js/plane.js') }}"></script>
    	<script type="text/javascript" src="{{ url_for('static', filename='js/thingiview.js') }}"></script>
    	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
	    <script>
	      window.onload = function() {
	      CFInstall.check({
		        mode: "inline", // the default
		        node: "prompt"
		      });
	        thingiurlbase = "/static/js";
	        thingiview = new Thingiview("viewer");
	        thingiview.setObjectColor('#C0D8F0');
	        thingiview.initScene();
	        thingiview.setRotation(false);
	        thingiview.loadSTL("{{ url_for('MachinehubController:download', filename=file_name) }}");
	      }
		</script>

{% endblock %}
{% block content %}
		{% with messages = get_flashed_messages(with_categories=true) %}
		  	{% if messages %}
		  		<div class="container text-center">
			    {% for category, message in messages %}
			    	<div class="alert alert-{{ category }}">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						{{ message }}
					</div>
				{% endfor %}
				</div>
			{% endif %}
		{% endwith %}
		{% if title %}
		<div class="container text-center">
			<h1>{{ title }}</h1>
		</div>
		{% endif %}
		{% if description %}
		<div class="container text-center">
			<p>{{ description }}</p>
		</div>
		{% endif %}

		{% if images %}
		<div class="container">
			<div id="machine-carusel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">			    
			    {% set counter = 0 %}
			    {% for machine_image in images %}
					<li data-target="#machine-carusel" data-slide-to={{ counter + loop.index0 }} {% if counter + loop.index0 == 0 %} class="active" {% endif %}></li>
				{% endfor %}
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
				{% set counter = 0 %}
				{% for machine_image in images %}
				    	<div class="item{% if counter + loop.index0 == 0 %} active{% endif %}">
				      		<img class="img-responsive center-block" src={{ machine_image }}>
				    	</div>
				{% endfor %}
				</div>
			  	<!-- Left and right controls -->
			  	<a class="left carousel-control" href="#machine-carusel" role="button" data-slide="prev">
			    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    	<span class="sr-only">Previous</span>
			  	</a>
			  	<a class="right carousel-control" href="#machine-carusel" role="button" data-slide="next">
			    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    	<span class="sr-only">Next</span>
			  	</a>
			</div>
		</div>
	  	{% endif %}

		<div class="container text-center">
			<form method=post action="{{ url_for('MachineController:machine', machine_name=machine_name) }}#viewer">
				<dl>
				  	{% for value in form %}
				  	{{ render_field(value) }}
				  	{% endfor %}
				</dl>
				<p><input class="btn btn-lg btn-primary" type=submit value=create>
			</form>
		</div>
		<div class="container text-center">
			{% if show_stl %}
			<a name="viewer" style="text-align:center;" href="{{ url_for('MachinehubController:download', filename=file_name) }}" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Download the generated STL</a><br><br>
			<p>
				<input class="btn btn-primary" onclick="thingiview.setCameraView('top');" type="button" value="Top" /> 
				<input class="btn btn-primary" onclick="thingiview.setCameraView('side');" type="button" value="Side" /> 
				<input class="btn btn-primary" onclick="thingiview.setCameraView('bottom');" type="button" value="Bottom" /> 
				<input class="btn btn-primary" onclick="thingiview.setCameraView('diagonal');" type="button" value="Diagonal" /> 
				 
				<input class="btn btn-primary" onclick="thingiview.setCameraZoom(5);" type="button" value="Zoom +" /> 
				<input class="btn btn-primary" onclick="thingiview.setCameraZoom(-5);" type="button" value="Zoom -" /> 
				 
				Rotation: <input class="btn btn-primary" onclick="thingiview.setRotation(true);" type="button" value="on" /> | <input class="btn btn-primary" onclick="thingiview.setRotation(false);" type="button" value="off" />
			</p>
			</div>
			<div class="container text-center">
				<div id="viewer" class="stl-viewr"></div>
			</div>
			<div class="container text-center"><br><br>
			<p>
				<input class="btn btn-primary" onclick="thingiview.setObjectMaterial('wireframe');" type="button" value="Wireframe" /> 
				<input class="btn btn-primary" onclick="thingiview.setObjectMaterial('solid');" type="button" value="Solid" />
			</p>
			<p>
				Background Color: <a href="#" onclick="thingiview.setBackgroundColor('#606060')">Gray</a> | <a href="#" onclick="thingiview.setBackgroundColor('#ffffff')">White</a> | <a href="#" onclick="thingiview.setBackgroundColor('#000000')">Black</a><br/>
				Object Color: <a href="#" onclick="thingiview.setObjectColor('#ffffff')">White</a> | <a href="#" onclick="thingiview.setObjectColor('#aa0000')">Red</a> | <a href="#" onclick="thingiview.setObjectColor('#CDFECD')">Green</a> | <a href="#" onclick="thingiview.setObjectColor('#C0D8F0')">Blue</a><br/>
			</p>
			{% endif %}
		</div>
{% endblock %}