{% extends "base/layout.html" %}
{% block content %}
    <div class="container text-center">
		<a href="{{ url_for('MachinehubController:machines', page=1) }}">
			<img src= {{ url_for('static', filename = 'img/machinehub_logo.png') }} class="img-responsive-center machinehub">
		</a>
        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2>Latest machines</h2>
            </div>
        </div>
        <!-- /.row -->
		<br><br>
        <!-- Page Features -->
        {%for machines_info in splited_machines_info %}
        <div class="row text-center">
        	{%for image, title, description, user, user_url, name, machine_url in machines_info %}
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                	{% if image %}
                    <a href="{{ machine_url }}" ><img src={{ image }} alt=""></a>
                    {% else %}
                    <a href="{{ machine_url }}" ><img src="http://epaper2.mid-day.com/images/no_image_thumb.gif" alt=""></a>
                    {% endif %}
                    <div class="caption">
                        <a href="{{ machine_url }}" ><h3>{{ title }}</h3></a>
                        <h4><a href="{{ user_url }}">{{ user }}</a> / <a href="{{ machine_url }}">{{ name }}</a></h4>
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
        <br>
        {% endfor %} 
    </div>
{% endblock %}